.title {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}

.year {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}

.posterUrl {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}

.plot {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}