/* form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
} */

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.title {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}

.year {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}

.posterUrl {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}

.plot {
    color: red;
    font-size: 12px;
    padding-left: 2%;
}