footer{
    background-color: #141414;
}

.foot-col{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.footCol{
    color: #C7C8C9;
    text-decoration: none;
}

.logo{
    text-decoration: none;
    color: #C7C8C9;
}