.email {
    color: red;
    font-size: 12px;
    padding-left: 18%;
}

.password {
    color: red;
    font-size: 12px;
    padding-left: 18%;
}

.footer {
    justify-content: flex-start;
}

.footerLink {
    margin-right: 30px;
}