

.details {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    float: right;
    width: 90%;
    color: white;
}

.image {
    box-sizing: border-box;
}

.overview {
    padding-top: 20px;
}

.title {
    width: 100%;
}